@import "./normalize.css";
@import "./iconfont.css";

:root{
	--color-text: #666;
	--color-high-text: #42bBaa;
	--color-tint: #42b983;
	--color-background: #fff;
	--red: red;
	--font-size: 14px;
	--line-height: 1.5;
}


*,
*::before,*::after{
	margin: 0;
	padding: 0;
}
body{
	user-select: none;
	background: var(--color-background);
	color: var(--color-text);
	width: 100vw;
}
a{
	text-decoration: none;
}